.container {
    padding: 1rem;
    height: 100vh;
    position: relative;
}

.sidebar, .infobox {
    width: 15rem;
}

.sidebar {
    position: fixed;
    top: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.projects, .infobox {
    background: white;
    padding: 1rem;
}

.projects {
    overflow: scroll;
    list-style: none;
    flex: 1 1 auto;
    margin: 0;
}

.infobox {
    text-decoration: none;
    position: absolute;
    z-index: 1;
    top: 0;
}

.infobox:hover {
    text-decoration: underline;
}

.infobox p:last-child {
    margin-bottom: 0;
}

.project {
    margin-bottom: .5rem;
    text-decoration: line-through;
}

.project_isActive {
    text-decoration: none;
}

.project_isOpen {
   font-weight: bold;
}

.projectLink {
    background: transparent;
    font-family: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-decoration: inherit;
    color: inherit;
    text-align: left;
    font-weight: inherit;
}

.projectLink:focus {
    outline: none;
    background: #f8f9f6;
}

.content {
    margin-left: 16rem;
    position: relative;
    z-index: 1;
}

.canvas {
    position: fixed;
    top: 1rem;
    left: 17rem;
    right: 1rem;
    bottom: 1rem;
    overflow: hidden;
    background-size: 10rem;
    background-position: center;
    background-repeat: no-repeat;
}

.canvas__grayscale {
    filter: saturate(0);
}