.container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portrait {
    width: 30%;
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

.portrait:nth-child(1) {
    animation-delay: -.5s;
}

@keyframes wobble {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}