.container {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.3em;
}

.forest {
    color: green;
    animation-name: appear;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    position: absolute;
    width: 100%;
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}