.sea {
    position: absolute;
    background: #0883aa;
    width: 100%;
    height: 25vh;
    bottom: 0;
}

.sea:before {
    content: '';
    background-image: url('./sea.gif');
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 100%;
    width: 100%;
    height: 100%;
}